@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap");

:root {
    --progress: 0%;
    --accentColor: #6a00ff;
    --darkPrimary: #0d1317;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Red Hat Mono", monospace;
    margin: 0;
    height: 100vh;
    background-color: var(--darkPrimary);
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

nav > ul > li {
    flex: 1 1 auto;
    text-align: center;
}

li > a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
}

li > a:hover {
    background-color: #333;
}

main {
    display: flex;
}

main > section:not(:target) {
    display: none;
}

.clock,
.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    color: #333;
}

.clock {
    font-size: 15rem;
    font-weight: bold;
    color: white;
}

.timer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 11rem 3rem;
    border-radius: 100%;
    background-color: var(--darkPrimary);
    color: #fff;
    font-size: 3rem;
    position: relative;
}

.timer-content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 103%;
    height: 103%;
    border-radius: 100%;
    z-index: -1;
    background: conic-gradient(
        var(--accentColor) var(--progress),
        #fff var(--progress),
        #fff 100%
    );
    background-color: #f1f1f1;
}

x-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    gap: 1rem;
    color: #333;
}

@media (max-width: 1200px) {
    .clock {
        font-size: 12rem;
    }
}

@media (max-width: 992px) {
    .clock {
        font-size: 10rem;
    }
}
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .timer-content {
        padding: 8rem 2rem;
        font-size: 2rem;
    }

    .clock {
        font-size: 7rem;
    }
}

@media (max-width: 576px) {
    .clock {
        font-size: 4rem;
    }
}
