@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap");

:root {
    --progress: 0%;
    --accentColor: #6a00ff;
    --darkPrimary: #0d1317;
    --lightPrimary: #eee;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Red Hat Mono", monospace;
    margin: 0;
    height: 100dvh;
    background-color: var(--darkPrimary);
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

nav > ul > li {
    flex: 1 1 auto;
    text-align: center;
}

li > a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
}

li > a:hover,
li > a:focus {
    background-color: #333;
}

main {
    display: flex;
    height: 100dvh;
}

main > section:not(:target) {
    display: none;
}

.clock,
.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80dvh;
}

.clock {
    font-size: 15rem;
    font-weight: 500;
    color: var(--lightPrimary);
}

.controls {
    margin-top: 2rem;
}

.timer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: var(--darkPrimary);
    color: var(--lightPrimary);
    font-size: 4rem;
    position: relative;
}

.controls > button {
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    border: 2px solid var(--accentColor);
    border-radius: 50%;
    cursor: pointer;
}

.timer-content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 105%;
    border-radius: 100%;
    z-index: -1;
    background: conic-gradient(
        var(--accentColor) var(--progress),
        #fff var(--progress),
        #fff 100%
    );
    background-color: var(--lightPrimary);
}

x-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80dvh;
    gap: 1rem;
    color: var(--lightPrimary);
}

x-timer[paused] .controls {
    .pause {
        display: none;
    }

    .start {
        display: initial;
    }
}

x-timer:not([paused]) .controls {
    .pause {
        display: initial;
    }

    .start {
        display: none;
    }
}

x-timer[loop] .controls {
    .loop {
        display: none;
    }

    .no-loop {
        display: initial;
    }
}

x-timer:not([loop]) .controls {
    .loop {
        display: initial;
    }

    .no-loop {
        display: none;
    }
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80dvh;
    gap: 1rem;
    color: var(--lightPrimary);
}

x-stopwatch {
    font-size: 7rem;
}

x-stopwatch .controls {
    display: flex;
    justify-self: center;
    gap: 1rem;
}

x-stopwatch:not([paused]) .controls {
    .pause {
        display: initial;
    }

    .start {
        display: none;
    }
}

x-stopwatch[paused] .controls {
    .pause {
        display: none;
    }

    .start {
        display: initial;
    }
}

@media (max-width: 1200px) {
    .clock {
        font-size: 12rem;
    }
}

@media (max-width: 992px) {
    .timer,
    .clock,
    .stopwatch,
    .alarm {
        height: 95dvh;
    }
    .clock {
        font-size: 10rem;
    }
    .timer-content {
        height: 750px;
        width: 750px;
        font-size: 5.5rem;
    }

    .controls > button {
        font-size: 3rem;
        padding: 2.5rem;
    }
}
@media (max-width: 768px) {
    .timer-content {
        height: 550px;
        width: 550px;
    }

    main {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .clock {
        font-size: 4rem;
    }

    .timer-content {
        font-size: 3rem;
    }

    .clock {
        font-size: 7rem;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--lightPrimary);
        color: var(--darkPrimary);
    }

    .timer-content::before {
        background: conic-gradient(
            var(--accentColor) var(--progress),
            var(--darkPrimary) var(--progress),
            var(--darkPrimary) 100%
        );
    }

    .timer-content {
        color: var(--darkPrimary);
        background-color: var(--lightPrimary);
    }
}
