@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap");

:root {
    --progress: 0%;
    --accentColor: #6a00ff;
    --darkPrimary: #0d1317;
    --lightPrimary: #eee;
}

body {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    font-family: "Red Hat Mono", monospace;
    margin: 0;
    background-color: var(--darkPrimary);
    color: var(--lightPrimary);
}

main {
    margin-bottom: 2rem;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

nav > ul > li {
    flex: 1 1 auto;
    text-align: center;
}

li > a {
    display: block;
    padding: 1rem;
    color: var(--lightPrimary);
    text-decoration: none;
}

li > a:hover,
li > a:focus {
    background-color: #333;
}

main {
    display: flex;
}

main > section:not(:target) {
    display: none;
}

.clock,
.timer,
.stopwatch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.clock {
    font-size: 15rem;
    font-weight: 500;
    height: 70vh;
}

.stopwatch {
    height: 70vh;
}

.timer {
    margin-top: 5rem;
    min-height: 80dvh;
}

#alarm {
    width: 100%;
}

.alarms {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

x-alarm > .controls {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: center;
}

.alarms > input {
    margin-bottom: 0 !important;
}

.timer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: var(--darkPrimary);
    font-size: 4rem;
    position: relative;
}

.items input {
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 1rem;
    color-scheme: light dark;
}

.items {
    margin-top: 1rem;
}

.items > div {
    display: flex;
    flex-direction: column;
}

.items input:focus {
    outline: none;
    border-color: var(--accentColor);
}

.controls > button {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--lightPrimary);
    background-color: transparent;
    border: 2px solid var(--accentColor);
    border-radius: 50%;
    cursor: pointer;
}

.timer-content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 105%;
    border-radius: 100%;
    z-index: -1;
    background: conic-gradient(
        var(--accentColor) var(--progress),
        var(--lightPrimary) var(--progress),
        var(--lightPrimary) 100%
    );
}

x-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

x-timer[paused] .controls {
    .pause {
        display: none;
    }

    .start {
        display: initial;
    }
}

x-timer:not([paused]) .controls {
    .pause {
        display: initial;
    }

    .start {
        display: none;
    }
}

x-timer[loop] .controls {
    .loop {
        display: none;
    }

    .no-loop {
        display: initial;
    }
}

x-timer:not([loop]) .controls {
    .loop {
        display: initial;
    }

    .no-loop {
        display: none;
    }
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

x-stopwatch {
    font-size: 7rem;
}

x-stopwatch .controls {
    display: flex;
    justify-self: center;
    gap: 1rem;
}

x-stopwatch:not([paused]) .controls {
    .pause {
        display: initial;
    }

    .start {
        display: none;
    }
}

x-stopwatch[paused] .controls {
    .pause {
        display: none;
    }

    .start {
        display: initial;
    }
}

@media (max-width: 1200px) {
    .clock {
        font-size: 12rem;
    }
}

@media (max-width: 992px) {
    li > a {
        font-size: 2rem;
    }

    .clock {
        font-size: 10rem;
    }
    .timer-content {
        height: 650px;
        width: 650px;
        font-size: 5rem;
    }

    .items input,
    .items label {
        font-size: 1.75rem;
    }

    .controls > button {
        font-size: 3rem;
        padding: 1.5rem;
    }
}

@media (max-width: 768px) {
    .timer-content {
        height: 650px;
        width: 650px;
    }

    main {
        flex-direction: column;
    }

    .controls > button {
        font-size: 3rem;
        padding: 2.5rem;
    }
}

@media (max-width: 576px) {
    .clock {
        font-size: 7rem; /* Ensure this is the final font-size for .clock */
    }

    .timer-content {
        font-size: 3rem;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--lightPrimary);
        color: var(--darkPrimary);
    }

    li > a {
        color: var(--darkPrimary);
    }

    li > a:hover,
    li > a:focus {
        background-color: #ccc;
    }

    .timer-content::before {
        background: conic-gradient(
            var(--accentColor) var(--progress),
            var(--darkPrimary) var(--progress),
            var(--darkPrimary) 100%
        );
    }

    .timer-content {
        color: var(--darkPrimary);
        background-color: var(--lightPrimary);
    }

    .controls > button {
        color: var(--darkPrimary);
        border: 6px solid var(--accentColor);
    }
}
